<div class="grid-container">
  <h2 class="flight-status-heading">Flight status</h2>
  <div class="margin-vertical-1">
    <button class="clear button padding-horizontal-0" (click)="back()"><< Back</button>
  </div>
</div>
<router-outlet></router-outlet>

