

<div class="card">
  <div class="card-divider">
    <strong>Selected Flight</strong>
  </div>
  <div class="card-section padding-horizontal-0 padding-bottom-0">
    <form [formGroup]="form">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Flight Number
            <input id="number" formControlName="number" type="number" placeholder="Flight Number">
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Aircraft
            <input id="aircraft" formControlName="aircraft" type="number" placeholder="Aircraft">
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Departure Airport
            <input id="departure-airport" formControlName="departureAirport" type="text" placeholder="Departure Airport">
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Arrival Airport
            <input id="arrival-airport" formControlName="arrivalAirport" type="text" placeholder="Arrival Airport">
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Departure Date
            <input id="departure-date-time" formControlName="departureDateTime" type="text" placeholder="Departing At">
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Arrival Date
            <input id="arrival-date-time" formControlName="arrivalDateTime" type="text" placeholder="Arriving At">
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
