<div class="grid-container" *ngFor="let flight of flights$ | async">
  <h4 class="flight-route-heading">{{getFlightHeading(flight)}}</h4>
  <h6 class="flight-date-heading">{{getFlightTime(flight)}}</h6>

  <table class="unstriped">
    <thead>
      <tr>
        <th width="150">Flight</th>
        <th width="150">Depart</th>
        <th width="150">Arrive</th>
        <th width="150"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let segment of flight.segments">
        <td>
          <img width="15" src="assets/aa-icon.png" alt="AA Logo">
          {{segment.number}}
        </td>
        <td><strong>{{segment.departure.airport.code}} <br> {{segment.departure.date.estimated | date: 'shortTime'}}</strong></td>
        <td><strong>{{segment.arrival.airport.code}} <br> {{segment.arrival.date.estimated | date: 'shortTime'}}</strong></td>
        <td><a [routerLink]="['../details', segment.record]">Check status >></a></td>
      </tr>
    </tbody>
  </table>
</div>
