<div *ngIf="segments$ | async as segments">
  <hr />
  <ul class="menu icons icon-top flex-container align-center">
    <li>
      <a><i class="fi-list-thumbnails"></i> <span>Priority list</span></a>
    </li>
    <li><div class="action-divider margin-horizontal-2"></div></li>
    <li>
      <a><i class="fi-comment-quotes"></i> <span>Create notification</span></a>
    </li>
  </ul>
  <hr />
  <h4 class="flight-route-heading">{{ getFlightHeading(segments) }}</h4>
  <h6 class="flight-date-heading">{{ getFlightTime(segments) }}</h6>
  <table class="unstriped">
    <thead>
      <tr>
        <th width="150">Flight</th>
        <th width="150">Depart</th>
        <th width="150">Arrive</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let segment of segments">
        <td>
          <img width="15" src="assets/aa-icon.png" alt="AA Logo" />
          {{ segment.number }}
        </td>
        <td>
          <div>
            <strong
              >{{ segment.departure.airport.code }} <br />
              {{ segment.departure.date.estimated | date: 'shortTime' }}</strong
            >
          </div>
          <div>
            <small
              >Actual:
              {{ segment.departure.date.actual | date: 'shortTime' }}</small
            >
          </div>
          <div>
            <small
              >Estimated:
              {{ segment.departure.date.estimated | date: 'shortTime' }}</small
            >
          </div>
          <div>
            <small>Terminal: {{ segment.departure.terminal }}</small>
          </div>
          <div>
            <small>Gate: {{ segment.departure.gate }}</small>
          </div>
        </td>
        <td>
          <div>
            <strong
              >{{ segment.arrival.airport.code }} <br />
              {{ segment.arrival.date.estimated | date: 'shortTime' }}</strong
            >
          </div>
          <div>
            <small
              >Actual:
              {{ segment.arrival.date.actual | date: 'shortTime' }}</small
            >
          </div>
          <div>
            <small
              >Estimated:
              {{ segment.arrival.date.estimated | date: 'shortTime' }}</small
            >
          </div>
          <div>
            <small>Terminal: {{ segment.arrival.terminal }}</small>
          </div>
          <div>
            <small>Gate: {{ segment.arrival.gate }}</small>
          </div>
          <div>
            <small>Baggage: {{ segment.arrival.baggage }}</small>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
