<h1>Flights</h1>
<div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <ngx-live-training-flights-list
      [segments]="segments$ | async"
      (selected)="selectSegment($event)"
    ></ngx-live-training-flights-list>
  </div>
  <div class="cell large-6">
    <ngx-live-training-flight-details [segment]="selectedSegment"></ngx-live-training-flight-details>
  </div>
</div>
