<header class="top-bar ui-toolbar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a routerLink="/"><strong>Travel</strong> Planner</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Find flights</a></li>
      <li><a href="#">Trips</a></li>
      <li><a href="#">Travelers</a></li>
      <li><a href="#">Tools</a></li>
      <li><a routerLink="/flights">ADMIN</a></li>
    </ul>
  </div>
</header>
