/* You can add global styles to this file, and also import other style files */
// Import Foundation for Sites
// See https://foundation.zurb.com/sites/docs/sass.html for detailed info.
@import '~foundation-sites/scss/foundation';
@include foundation-everything($prototype: true);

// Import Angular ngx-foundation Framework Added Styles
@import "~ngx-foundation/assets/scss/main";

body {
  display: flex;
  justify-content: center;
}

.align-baseline {
  align-items: baseline;
}

.required-indicator:after {
  content: '\2022';
  color: red;
}

tbody {
  border: none;
}

// Flight status

.flight-status-heading {
  color: #0078D1;
  font-weight: 400;
}

.flight-route-heading {
  color: #23598B;
}

.flight-date-heading {
  color: #6D8290;
}

// Flight status search

.search-by-container .button {
  border-radius: 20px;
}

// Flight status details

.action-divider {
  width: 1px;
  background: lightgray;
}

td {
  vertical-align: top;
}

// ui-toolbar

.ui-toolbar {
  background-color: #0078D1;
  color: white;
  .menu {
      background-color: #0078D1;
      a {
          color: white;
      }
  }
}

// flights list
table.hover {
  cursor: pointer;
}
