<table class="unstriped hover">
  <thead>
    <tr>
      <th width="150">Flight</th>
      <th width="150">Depart</th>
      <th width="150">Arrive</th>
      <th width="150">Aircraft</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="selected.emit(segment)" *ngFor="let segment of segments">
      <td>
        <img width="15" src="assets/aa-icon.png" alt="AA Logo">
        {{segment.number}}
      </td>
      <td><strong>{{segment.departure.airport.code}} <br>
          {{segment.departure.date.estimated | date: 'shortTime'}}</strong></td>
      <td><strong>{{segment.arrival.airport.code}} <br>
          {{segment.arrival.date.estimated | date: 'shortTime'}}</strong></td>
      <td>{{segment.aircraft}}</td>
    </tr>
  </tbody>
</table>
