<div class="grid-container search-by-container">
  <div class="flex-container align-baseline margin-vertical-1">
    <div class="flex-child-shrink padding-right-1">Search by:</div>
    <div class="flex-child-auto small button-group">
      <button (click)="selectSearchType(SearchTypes.AIRPORT)"
        class="button margin-right-1"
        [ngClass]="{'hollow': !isAirportSearchType(searchType)}">Airport</button>
      <button (click)="selectSearchType(SearchTypes.FLIGHT_NUMBER)"
        class="button hollow"
        [ngClass]="{'hollow': isAirportSearchType(searchType)}">Flight Number</button>
    </div>
  </div>
</div>
<form (submit)="searchFlights()">
  <div class="grid-container fluid">
    <div class="margin-bottom-1">(<span class="required-indicator"></span> Required)</div>
    <div class="grid-x grid-padding-x">
      <div *ngIf="isAirportSearchType(searchType)" class="small-3 cell">
        <label>From <span class="required-indicator"></span>
          <input type="text" placeholder="City or airport">
        </label>
      </div>
      <div *ngIf="isAirportSearchType(searchType)" class="small-3 cell">
        <label>To <span class="required-indicator"></span>
          <input type="text" placeholder="City or airport">
        </label>
      </div>
      <div *ngIf="!isAirportSearchType(searchType)" class="small-3 cell">
        <label>Flight number <span class="required-indicator"></span>
          <input type="text" placeholder="Flight number">
        </label>
      </div>
      <div class="small-3 cell">
        <label>Depart
          <select name="depart" id="depart">
            <option *ngFor="let date of dates" [value]="date">{{date | date: 'EEEE, MMMM d'}}</option>
          </select>
        </label>
      </div>
      <div class="small-3 cell flex-container align-bottom">
        <button type="submit" class="button width-100">Search</button>
      </div>
    </div>
  </div>
</form>
